@charset "UTF-8";

/* First Mobile */
:root{
    --verde-claro: #94CFCD;
    --verde: #49a09d;
    --verde-escuro: #224a49;
    --lilás: #5f2c82;
    --fonte-padrao:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin:0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    width: 100vw;
    
}
body{
    background-color: var(--lilás);
    font-family: var(--fonte-padrao)
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#caixa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 515px;
    background-color: white;
    border-radius: 20px;
}
div#imagem{
    background-image: url(../imagens/metal.jpg);
    background-size:cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h1 {
    text-align: center;
    padding-bottom:10px;
}
div#conteudo{
    padding: 10px;
}
div#conteudo > p {
    font-size: 13px;
}
div.box{
    margin-top: 5px;
    padding: 2px;
    background-color:var(--lilás);
    border-radius: 8px;
    width: 100%;
    display: inline-flex;

}
div.box > input{   
    border-radius: 8px;
    background-color:var(--verde-claro);
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1em;
}
div.box > input:hover{
    background-color:white;
}

#formatação-icon1{
    color: white;
    font-size: 30px;
    vertical-align: middle;
    padding:3px 6px 3px 3px;
}
#formatação-icon2{
    color: white;
    font-size: 30px;
    vertical-align: middle;
    padding:3px 6px 3px 3px;
}
#botao-entrar{
    color:white;
    border: none;
    background-color: var(--verde);
    text-align: center;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

#botao-entrar:hover{
    background-color:var(--verde-escuro);
    cursor: pointer;
}

div#esqueci-senha a {
    display: block;
    text-align: center;
    text-decoration:none;
    border: 1px solid var(--verde);
    color: var(--verde-escuro);
    background-color: white;
    padding: 8px;
    border-radius: 8px;    
    margin-top: 5px;


}

div#esqueci-senha > a:hover{
    background-color: var(--verde-claro);
    cursor: pointer;
}
